@import "vars";

.comp-crud {
	margin: 15px;
}

.users-list {
	padding: 0;
	border: 1px solid $border-color;
	border-radius: $border-radius;
	min-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;

	.list-item {
		padding: 0;
	}

	button {
		padding: 0 5px;
		border: none;
		width: 100%;
		text-align: left;
		display: block;
		line-height: 1.25em;
		font-size: 1rem;
		outline: none;

		&.active {
			background: rgb(182, 219, 250);
			color: #444;
		}

		&:hover, &:focus {
			background: rgb(102, 189, 250);
			color: #FFFFFF;
		}
	}
}

.btn {
	width: 100%;
}